.app-button-icon--checked,
.app-button-icon {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    height: fit-content;
    max-height: 100vh;
    min-height: 40px;
    cursor: pointer;
    padding: 4px;
    color: rgba(255,255,255, 0.65);
}
.app-button-icon--checked,
.app-button-icon:hover {
    color: rgba(255,255,255, 0.95);
}

.app-button-icon--label {
    display: flex;
    padding: 4px;
    align-items: center;
}
.app-button-icon--icon {
    padding: 4px;
    display: flex;
    font-size: 30px;
    align-items: center;
}
